.movies {
  &__header {
    display: flex;
    flex-direction: row;

    &__title {
      color: white;
    }

    &__genre-filter {
      margin: auto 15px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
}
