.movieCard {
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: 170px;
  min-width: 170px;

  &__title {
    text-align: center;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    font-size: 15px;
  }

  &__poster {
    width: 100%;
    height: 225px;
    max-height: 225px;
    background: #80808038;
  }
  
  &:hover {
    transform: scale(1.2);
  }
  &:hover  &__title{
    display: none;
  }
}

.movie_description{
  position: absolute;
}
