@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #141414;
  font-family: "Heebo";
  color: white;
}
